thinkSyncFE/.env
thinkSyncFE/.env.local

thinkSyncBE/.env
thinkSyncBE/.env.local


thinkSyncBE/node_modules
thinkSyncFE/node_modules

thinkSyncBE/docker-compose.yml
thinkSyncFE/.vite

thinkSyncFE/WebPages
